<div class="row">

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4>
                    {{ 'DASHBOARD.GOODSEXPIRYPOPULATIONS' | translate }}
                </h4>
            </div>
            <div class="row">
                <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="expiry_status_data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
    </div>