<div class="container-scroller">
    <bs-header></bs-header>
    <div class="container-fluid page-body-wrapper">
        <bs-sidebar></bs-sidebar>
        <div class="main-panel">
            <div class="content-wrapper">
                <div>
                    <mat-toolbar md-direction="right">
                        <button mat-button (click)="exportTable()">Export to excel</button>
                    </mat-toolbar>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="no_catalog">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No catalog</th>
                            <td mat-cell *matCellDef="let element"> {{element.no_catalog}} </td>
                        </ng-container>

                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity_out">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
                            <td mat-cell *matCellDef="let element"> {{element.quantity_out}} </td>
                        </ng-container>

                        <ng-container matColumnDef="storages">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Storage</th>
                            <td mat-cell *matCellDef="let element"> {{element.storages}} </td>
                        </ng-container>

                        <ng-container matColumnDef="instrument">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Instrument</th>
                            <td mat-cell *matCellDef="let element"> {{element.instrument}} </td>
                        </ng-container>

                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>User name</th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 100]" class="mat-elevation-z8"></mat-paginator>
                    <div style="display: flex; justify-content: center; align-items: center">
                        <mat-progress-spinner color="primary" mode="indeterminate" *ngIf="isLoadingResults">
                        </mat-progress-spinner>
                    </div>

                </div>
            </div>
            <bs-footer></bs-footer>
        </div>
    </div>
</div>